@charset "UTF-8";
body {
  font-family: Georgia, serif;
  font-size: 100%;
  background-color: black;
}

/* link styles */
a:link, a:visited { color: #FF0000; }
a:focus, a:hover, a:active { color: #FF0000; }


/* header styles */
header {
  color: red;
  background:  url(marvel-show.jpg) no-repeat center center;
  background-size: cover; 
  text-align: center;
}
header p {
  font-style: italic;
  font-size: 1.2em;
}

